WP_URL=https://www.montagneepaesi.com
WP_USERNAME=nome_utente_wordpress
WP_APP_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx
WP_POST_STATUS=publish
WP_CATEGORY_IDS=1869
WP_TAG_IDS=
WP_AUTHOR_ID=
PUBLISH_TIME=05:30
AUTOMATION_ENABLED=false
TZ=Europe/Rome
SECRET_KEY=sostituisci-con-una-stringa-lunga-casuale
PORT=8080
